body {
  display: table;  
  width: 100%;
  height: 100%;
  padding: 100px 0;  
  background-image: url(./Image/pao.jpg);
  font-family: Arial, Tahoma, sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: rgb(236, 6, 6);
  font-size: 55px;
  text-align: center;
}
.lista {
  font-size: 30px;
  margin-right: 40px;
  margin-left: 30px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  color: black;
}
.cor {
  color: rgb(193, 223, 27);
}
.cor1 {
  color: black;
}

button {  
  background-color: red;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px; 
  border-radius: 5px;
}
.container{
  text-align: center;
}
.btn{
  color: yellow;
}
li {
  list-style-type: none;
}
footer{
  text-align: center;
  margin-top: 300px;
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
@media(min-width:700px) {
  h1{
    flex-direction: column;
    text-align: center;
    margin-top: -50px;
    margin-bottom: 100px;;
   
  }
  
 .lista {
  flex-direction: column;
  text-align: center;
 }
 .container{
  margin-top:70px;
 }
 footer{
  margin-top:70px;
  font-size:20px;
 }
  
 

}
