*{
  margin: 0;
  padding: 0;
}
body {
  display: table;  
  width: 100%;
  height: 100%;
  padding: 100px 0;  
  background-image: url(./Image/pao.jpg);
  font-family: Arial, Tahoma, sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color:#f0f8ff;
  font-size: 55px;
  text-align: center;
}
.lista {
  font-size: 30px;
  margin-right: 40px;
  margin-left: 30px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  color: black;
}
.cor {
  color: rgb(193, 223, 27);
}
.cor1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:black;
}

button {  
  background-color:transparent;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px; 
  border:none;
  
}
.container{
  text-align: center;
  
}

footer{
  text-align: center;
  margin-top: 300px;
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:black;
}
@media(max-width:800px) {
  h1{
    flex-direction: column;
    text-align: center;
    margin-top: -50px;    
    margin-bottom: 100px;;
   
  }
  
 .lista {
  flex-direction: column;  
  align-items: center;

 }
 .container{
  margin-top:20px;
 }
 footer{
  margin-top:40px;
  font-size:20px;
 }
  
 

}
