body {
    display: table; 
    width: 100%;
    height: 100%;
    padding: 100px 0;
    background-image: url(../image/fundo\ curiosidade.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    font-family: Arial, Tahoma, sans-serif;
}

body,p{
    color:#00BFFF;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{ 
   color: 	red;
}

h2 { 
    color: red;
    background-color:yellow;
}
#botao {
    
    display: flex;
    justify-content:center;
    margin: 0 auto;
    width: 400px;
    background-color: red;
    padding: 1rem;
    border-radius: 1em;
    font-size: 20px;
  }
  #botao,b{
    color:black;
    font-size: 25px;
  }
  @media(max-width:800px){
    #botao{
        width: 150px;
    }
    h1{
        text-align: center;
    }

  }